.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;

}

.container .img {
  height: 300px;
  width: 370px;
  margin-top: 50px;
  background-color: red;
}